@font-face {
  font-family: 'Lobster';
  src        : url(../fonts/Lobster-Regular.ttf);
}

@font-face {
  font-family: 'Quicksand-Light';
  src        : url(../fonts/Quicksand-Light.ttf);
}

@font-face {
  font-family: 'Quicksand-Bold';
  src        : url(../fonts/Quicksand-Bold.ttf);
}

@font-face {
  font-family: 'Raleway-Thin';
  src        : url(../fonts/Raleway-Thin.ttf);
}

@font-face {
  font-family: 'permMa';
  src        : url(../fonts/Lobster-Regular.ttf);
}

@font-face {
  font-family: fas;
  src        : url(../fonts/fa-solid-900.ttf);
}

@font-face {
  font-family: far;
  src        : url(../fonts/fa-regular-400.ttf);
}

@font-face {
  font-family: 'Roboto-light';
  src        : url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: 'Roboto';
  src        : url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto-bold';
  src        : url(../fonts/Roboto-Bold.ttf);
}

.fas {
  font-family: fas;
}

.fa-home::before {
  content: '\f015';
}

.fa-search::before {
  content: '\f002';
}

.fa-library::before {
  content: '\f02d';
}

.fa-outdent::before {
  content: '\f03b';
}

.fa-step-forward::before {
  content: '\f051';
}

.fa-random::before {
  content: '\f074';
}

.fa-play::before {
  content: '\f04b';
}

.fa-pause::before {
  content: '\f04c';
}

.fa-ellipsis-h::before {
  content: '\f141';
}
.fa-chevron-down-after::after{
  font-family: fas;
  content: '\f078';
}

.fa-chevron-left::before {
  content: '\f053';
}
.fa-user-alt::before {
  content: '\f406';
}


.fa-play::before {
  content: '\f04b';
}

.fa-plus-square::before {
  content: '\f0fe';
}

.fa-check::before {
  content: '\f00c';
}

.fa-music::before {
  content: '\f001';
}

.fa-heart::before {
  content  : '\f004';
  color    : #1db954;
  font-size: 16px;
}


.fa-volume-mute::before {
  content  : '\f6a9';
  font-size: 16px;
}

.fa-volume-down::before {
  content  : '\f027';
  font-size: 16px;
}

.fa-volume-up::before {
  content  : '\f028';
  font-size: 16px;
}
.fa-user-friends::before {
  content  : '\f500';
  font-size: 16px;
}
.fa-compact-disc::before {
  content  : '\f51f';
  font-size: 25px;
}

.fa-info::before {
  content  : '\f129';
  font-size: 25px;
}

.fa-trash::before {
  content  : '\f1f8';
  font-size: 25px;
}

.fa-edit::before{
  content  : '\f044';
  font-size: 25px;
}

.fa-plus::before {
  content  : '\f067';
  font-size: 25px;
}