<form #f="ngForm" class="contact-edit flex column gap-8" (ngSubmit)="onSubmitContactDetails(f)">
  <input [(ngModel)]="contact.name" placeholder="Enter fullname" #name="ngModel" type="text" name="name" required>

  <input [(ngModel)]="contact.email" type="email" placeholder="Enter an email" name="email" required>
  <input [(ngModel)]="contact.phone" type="text" placeholder="Enter your phone number" name="phone" required>
  <div class="actions flex gap-5">
    <button *ngIf="contact._id ;else new" class="btn" [disabled]="f.invalid">update</button>
    <ng-template #new>
      <button class="btn" [disabled]="f.invalid">create</button>
    </ng-template>
    <a routerLink="/contact" class="btn">⬅back</a>
  </div>
  <small *ngIf="f.invalid&&f.touched">please fill the form fields as required</small>
</form>

<!-- pattern="[1-9]+[0-9]*$" -->