.contact-preview {
  padding      : 8px;
  width: 100%;
  border       : 1px solid #f8f8f8;
  border-radius: 10px;
  &:hover{
    cursor: pointer;
  }

  .contact-img {
    display         : inline-block;
    height          : 50px;
    border          : 1px solid #ddd;
    border-radius   : 50%;
    background-color: $primary;
    
  }
  .contact-name {
    flex-grow: 1;
  }
  
  .icon {
    display         : inline-block;
    padding: 0.2rem;
    // border: 1px solid white;
    border-radius: 4px;
    &:hover{
      cursor: pointer;
    }
    &.trash-icon:hover {
      color:red;
    }
  }
}