.filter {
  width: 100%;
  label {
    display       : block;
    text-align    : left;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size     : 0.7em;
    margin-bottom : 0.4rem;
    font-size     : 0.7em;
  }

  input {
    width        : 100%;
    font-size    : 1.25em;
    margin-bottom: 12px;
    border       : none;
    border-bottom: 1px solid #ddd;
  }
}