.user-msg {
    position        : fixed;
    // inset: 0;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #111;
    width: 300px;
    padding         : 10px;
    font-size       : 1.5rem;

    &.open {
        bottom    : 10px;
        transition: bottom 0.5s;
        height    : 50px;
    }

    &.success {
        background-color: $secondary;
    }

    &.danger {
        background-color: $error;
    }
}