.home {
  width     : 60%;
  margin    : 0 auto;
  // text-align: center;

  h1 {
    margin-bottom: 1rem;
    font-size    : 1.8rem;
    font-weight  : normal;
  }

  .user-balance {
    text-align: center;
  }

    img {
      display: inline-block;
      width  : 20px;
    }

  .last-moves-header {
    margin-top : 1rem;
    font-size  : 1.3rem;
    font-weight: normal;
  }

}

.red {
  color: red;
}