body {
    // background-color: rgb(195, 237, 248);
}

.app-header {
    height: 10vh;
}

.app-main {
    min-height      : 85vh;
    background-color: rgb(222, 250, 196);
}

.app-footer {
    height: 5vh;
}