// theme colors
$primary  : #326dee;
$secondary: #1ac888;
$error    : #d32752;
$info     : #f6c31c;


// site colors
$clr1: #dbdb82;
$clr2: #888;
$clr3: #333;

$colors:('primary': $primary,
  'secondary': $secondary,
  'grey': #808080,
  'dark-grey': #333,
  'beige': #dbdb82,
  'white': white,
  'black': black,
  'green': #19e635,
  'light-green': #CC9735,
  'error': $error,
);