<div class="contact-preview flex align-baseline gap-20">
  <img src="https://robohash.org/{{contact.name}}.png" alt="" (click)="goToDetails()" class="contact-img" />
  <p class="contact-name">{{ contact.name }}</p>
  <div class="actions flex gap-8">
    <span class="fas fa-info text-primary icon" (click)="goToDetails()" alt=""></span>
    <span class="fas fa-edit text-primary icon" (click)="goToEdit()" alt=""></span>
    <span class="fas fa-trash text-primary icon trash-icon" (click)="onDeleteContact($event)" alt=""></span>
  </div>
  <div *ngIf="deleteContact" class="modal flex column gap-12">
    <h3>Delete {{contact.name}} contact?</h3>
    <div class="actions flex gap-8">
      <button class="bg-secondary" (click)="abort()">cancel</button>
      <button class="bg-error" (click)="delete()">delete</button>
    </div>
  </div>
</div>