<div class="contact-app-container flex column gap-20">
  <div class="add-new-contact flex align-center justify-center">
    <a routerLink="/contact/new"><span class="fas fa-plus flex justify-center align-center"></span></a>
  </div>
  <filter></filter>

  <contact-list *ngIf="!selectedContactId; else contactDetails" [contacts]="contacts$|async"
    (onShow)="selectedContactId=$event" class="contact-list-container flex column gap-20"></contact-list>

  <ng-template #contactDetails>
    {{selectedContactId}}
  </ng-template>
</div>
<!-- <router-outlet></router-outlet> -->